{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "settings": {
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "react/jsx-filename-extension": "off",
    "react/destructuring-assignment": "off",
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "parser": "typescript-eslint-parser",
      "plugins": [
        "typescript"
      ],
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-restricted-globals": "off"
      }
    }
  ]
}
